.formPage {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #272933 0%, #2a2c9e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  height: 80%;
  width: 50%;
  background: #ffffff9e;
  border-radius: 12px;
}

.toLogo {
}
