.applicants {
  flex: 4;
  padding: 20px;
}

.appliTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appliAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.appliContainer {
  display: flex;
  margin-top: 20px;
}

.appliShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.appliUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.appliShowTop {
  display: flex;
  align-items: center;
}

.appliShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.appliShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.appliShowUsername {
  font-weight: 600;
}

.appliShowUserTitle {
  font-weight: 300;
}

.appliShowBottom {
  margin-top: 20px;
}

.appliShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.appliShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.appliShowIcon {
  font-size: 16px !important;
}

.appliShowInfoTitle {
  margin-left: 10px;
}

.appliUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.appliUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.appliUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.appliUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.appliUpdateInput {
  border: none;
  width: 350px;
  height: 40px;
  border-bottom: 1px solid gray;
}

.appliUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appliUpdateUpload {
  display: flex;
  align-items: center;
}

.appliUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 20px;
  background-color: black;
}

.appliUpdateIcon {
  cursor: pointer;
}

.appliUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}
